@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Pirata One', regular;
}

body {
	height: 50vh;
	background-color: #24272E;
}

header {
	background: white;
	padding-top: 6px;
}

header > h1 {
	color: #24272E;
	font-size: 82px;
	margin-bottom:-10px;
	text-align: center;
}

header > h2 {
	color: #24272E;
	font-size: 30px;
	text-align: center;
	margin-top:-15px;
	padding-bottom: 18px;
}

/* WELCOME SPLASH ANIMATIONS */
.welcome-splash {
	position: fixed;
	opacity: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: #24272E;
	z-index: 100;
	color: white;
	text-align: center;
}


.welcome-splash > button {
	opacity: 1;
	position: fixed;
	background-color: white;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	padding: 0;
	border: none;
	background: none;
	background: #24272E;
	z-index: 100;
	color: white;
	text-align: center;
}

.welcome-splash > button > h1 {
	position: absolute;
	opacity: 0;
	left: 50%;
	top: 21%;
	display: block;
	text-align: center;
	margin-left: auto;
	font-size: 800%;
	transform: translate(-50%, -50%);
	animation: bottomUp 1.5s ease-in forwards;
	animation-delay: 2s;
}

.welcome-splash > button > h2 {
	position: absolute;
	opacity: 0;
	left: 50%;
	top: 24%;
	text-align: center;
	font-size: 300%;
	transform: translate(-50%, -50%);
	animation: topDown 1.5s ease-in forwards;
	animation-delay: 2s;
}

@keyframes bottomUp {
	0%{
		opacity: 0;
	}
	60% {
		opacity: 0;
	}
	100%{
		opacity: 1;
		top: 17%;
	}
}

@keyframes topDown {
	0%{
			opacity: 0;
		}
		60% {
			opacity: 0;
		}
		100%{
			top: 26.5%;
			opacity: 1;
		}
}



.welcome-splash > button > #line {
	position: absolute;
	opacity: 0;
	top: 23%;
	left: 50%;
	width: 1px;
	height: 2px;
	background: white;
	align-items: center;
	font-weight: bold;
	transform: translate(-50%, -50%);
	animation: widenLine 1s;
	animation-delay: 1.5s;
	animation-fill-mode: forwards;
}

@keyframes widenLine {
	to{opacity: 1; transform: scaleX(430); }
}


.welcome-splash > button > img {
	position: absolute;
	opacity: 0;
	width: 13%;
 	height: 20%;
	left: 50%;
	transform: translate(-50%, -50%);
	top: 45%;
	display: block;
	animation: InToOut 1s ease-in forwards;
	animation-delay: 0.5s;
}

.welcome-splash > button > h3 {
	position: absolute;
	top: 77%;
	left: 50%;
	opacity: 0;
	text-align: center;
	font-size: 23px;
	transform: translate(-50%, -50%);
	animation: InToOut 1.2s ease-in infinite;
	animation-delay: 4s;
}

.welcome-splash.removeWelcome {
	opacity: 0;
	position: fixed;
	top: 100%;
	left: 0;
	width: 100%;
	height: 100vh;
	background: #24272E;
	z-index: 100;
	color: #24272E;
	text-align: center;
}

.welcome-splash.removeWelcome > button {
	opacity: 0;
	position: fixed;
	background-color: white;
	top: 100%;
	left: 0;
	width: 100%;
	height: 100vh;
	background: #24272E;
	z-index: 100;
	color: #24272E;
	text-align: center;
}
/*
@keyframes splashToSide {
	from {opacity: 0;}
	to {opacity: 1;}
}

*/
@keyframes InToOut {
	from {opacity: 0;}
	to {opacity: 1;}
}

@keyframes OutToIn{
	from {opacity: 1;}
	to {opacity: 0;}
}



.rules-splash {
	opacity: 0;
	position: fixed;
	top: 100%;
	left: 0;
	width: 100%;
	height: 100vh;
	background: #24272E;
	z-index: 100;
	color: white;
	text-align: center;
}

.rules-splash.addRules {
	position: fixed;
	opacity: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: #24272E;
	z-index: 100;
	color: white;
	text-align: center;
}

.rules-splash.addRules > button {
	opacity: 1;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	padding: 0;
	background: #24272E;
	z-index: 100;
	color: white;
	text-align: center;
	border: none;
}



.rules-splash.addRules > button > #drinking-card-emoji {
		position: absolute;
		opacity: 0;
		font-size: 60px;
		animation: bounceIn 0.2s;
		animation-delay: 0.1s;
		animation-fill-mode: forwards;
		margin-left: 21%;
		top: 12%;
}

.rules-splash.addRules > button > #drinking-card-first {
		position: absolute;
		font-size: 26px;
		opacity: 0;
		text-align: left;
		margin-left: 30%;
		top: 12%;
		animation: slideInFromRight 0.1s;
		animation-delay: 0s;
		animation-fill-mode: forwards;
}




.rules-splash.addRules > button > #question-card-emoji {
	position: absolute;
	opacity: 0;
	font-size: 60px;
	animation: bounceIn 0.2s;
	animation-delay: 0.4s;
	animation-fill-mode: forwards;
	margin-left: 21.5%;
	top: 25.5%;
}

.rules-splash.addRules > button > #question-card-second {
		position: absolute;
		font-size: 26px;
		opacity: 0;
		text-align: left;
		margin-left: 30%;
		top: 25%;
		animation: slideInFromRight 0.1s;
		animation-delay: 0.3s;
		animation-fill-mode: forwards;
}




.rules-splash.addRules  > button > #counter-card-emoji {
	position: absolute;
	opacity: 0;
	font-size: 60px;
	animation: bounceIn 0.2s;
	animation-delay: 0.7s;
	animation-fill-mode: forwards;
	margin-left: 21%;
	top: 38%;
}

.rules-splash.addRules > button > #counter-card-third {
		position: absolute;
		font-size: 26px;
		opacity: 0;
		text-align: left;
		margin-left: 30%;
		top: 39%;
		animation: slideInFromRight 0.1s;
		animation-delay: 0.6s;
		animation-fill-mode: forwards;
}




.rules-splash.addRules > button > #mutiny-card-emoji {
	position: absolute;
	opacity: 0;
	font-size: 60px;
	animation: bounceIn 0.2s;
	animation-delay: 1s;
	animation-fill-mode: forwards;
	margin-left: 21%;
	top: 49%;
}

.rules-splash.addRules > button > #mutiny-card-fourth {
		position: absolute;
		font-size: 26px;
		text-align: left;
		opacity: 0;
		margin-left: 30%;
		top: 50%;
		animation: slideInFromRight 0.1s;
		animation-delay: 0.9s;
		animation-fill-mode: forwards;
}




.rules-splash.addRules > button > #big-wave-emoji {
	position: absolute;
	opacity: 0;
	font-size: 60px;
	animation: bounceIn 0.2s;
	animation-delay: 1.3s;
	animation-fill-mode: forwards;
	margin-left: 21%;
	top: 61%;
}

.rules-splash.addRules > button > #big-wave-fifth {
		position: absolute;
		font-size: 26px;
		text-align: left;
		opacity: 0;
		margin-left: 30%;
		top: 61%;
		animation: slideInFromRight 0.1s;
		animation-delay: 1.2s;
			animation-fill-mode: forwards;
}



@keyframes slideInFromRight {
	from {opacity: 0;
				margin-left: 40%;}
		to {opacity: 1;
				margin-left: 26%;}
}

@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
		opacity: 1;
  }
}

.rules-splash.addRules > button > h1 {
	position: absolute;
	top: 79%;
	left: 50%;
	opacity: 0;
	text-align: center;
	font-size: 23px;
	transform: translate(-50%, -50%);
	animation: InToOut 1.2s ease-in infinite;
	animation-delay: 2.5s;
}

.crew-member-names {
	opacity: 0;
	position: fixed;
	top: 100%;
	left: 0;
	width: 100%;
	height: 100vh;
	background: #24272E;
	z-index: 100;
	color: #24272E;
	text-align: center;
}

@keyframes fadeIn {
	to{
		opacity: 1;
	}
}

@keyframes fadeOut {
	to{
		opacity: 0;
	}
}

.crew-member-names > #rect-captain {
	top: 0;
	position: absolute;
	background: white;
	height: 17%;
	width: 100%;
	/*transform: translate(-50%, -50%);*/
}

.crew-member-names > img {
	position: relative;
	top: 0%;
	align-items: center;
	height: 17%;
	width: 11%;
	transform: translate(-50%, -50%);
	animation:shake 0.8s infinite;
}


@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-1px, 0px) rotate(1deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-2px, 1px) rotate(0deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, 1px) rotate(-1deg); }
}



.crew-member-names.removeSplash > button {
	background: transparent;
	position: relative;
	left: 50%;
	transform: translate(-50%, -50%);
	display: block;
	color: white;
	font-size: 22px;
	margin: 20px 0;
	border: 2px solid white;
	padding: 14px 30px;
	border-radius: 8px;
	overflow: hidden;
}

.crew-member-names.removeSplash > button::before {
	background: #808080;
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: -1;
	transition: all 0.6s ease;
}

.crew-member-names.removeSplash > button::before {
	width: 100%;
	height: 0;
	transform: translate(-50%, -50%) rotate(45deg);
}

.crew-member-names.removeSplash > button:hover::before {
	height: 400%;
}



.crew-member-names.removeSplash {
	position: fixed;
	opacity: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: #24272E;
	z-index: 100;
	color: white;
	text-align: center;
}

.crew-member-names.removeSplash > h1 {
	opacity: 0;
	top: 40%;
	font-size: 350%;
	margin-top: 2%;
	padding-bottom: 5px;
	animation-delay: 2s;
	animation: fadeIn 2s ease-in forwards;
}

.crew-member-names.removeSplash > input {
	margin-top: 2%;
	color: black;
	font-size: 160%;
	margin-bottom: 1%;
	height: 6%;
	width: 19%;
	border-radius: 6px;
	animation-delay: 2s;
}



.crew-member-names.removeSplash > #error-message {
		margin-top: -2%;
		font-size: 150%;
}

.crew-member-names.removeSplash > h2 {
	position: absolute;
	top:80%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 1;
	font-size: 200%;
	padding-bottom: 5px;
}

.question-card-splash {
	position: fixed;
	opacity: 0;
	top: 100%;
	left: 0;
	width: 100%;
	height: 100vh;
	background: #24272E;
	z-index: 100;
	color: white;
	text-align: center;
}

.question-card-splash.questionCardSplash {
	position: absolute;
	opacity: 0.98;
	font-size: 140%;
	top: 50%;
	left: 50%;
	width: 50%;
	height: 50%;
	background: #d4af37;
	z-index: 100;
	color: black;
	border-radius: 10px;
	text-align: center;
	transform: translate(-50%, -50%);
}

.align-question-answer > #question-from-api {
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.align-question-answer > p {
	font-size: 250%;
	position: absolute;
	left: 50%;
	top: 12%;
	transform: translate(-50%, -50%);
	margin-bottom: 10px;
}

.align-question-answer > #true-answer {
	background: #006400;
	position: absolute;
	left: 40%;
	top: 83%;
	transform: translate(-50%, -50%);
	display: block;
	color: black;
	font-size: 26px;
	margin: 20px 0;
	border: 3px solid black;
	padding: 14px 30px;
	border-radius: 8px;
	overflow: hidden;
}

.align-question-answer > #true-answer::before {
	background: #32CD32;
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: -1;
	transition: all 0.6s ease;
}

.align-question-answer > #true-answer::before {
	width: 100%;
	height: 0;
	transform: translate(-50%, -50%) rotate(45deg);
}

.align-question-answer > #true-answer:hover::before {
	height: 400%;
}

.align-question-answer > #false-answer {
	background: #FF0000;
	position: absolute;
	left: 60%;
	top: 83%;
	transform: translate(-50%, -50%);
	display: block;
	color: black;
	font-size: 26px;
	margin: 20px 0;
	border: 3px solid black;
	padding: 14px 30px;
	border-radius: 8px;
	overflow: hidden;
}

.align-question-answer > #false-answer::before {
	background: #FA8072;
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: -1;
	transition: all 0.6s ease;
}

.align-question-answer > #false-answer::before {
	width: 100%;
	height: 0;
	transform: translate(-50%, -50%) rotate(45deg);
}

.align-question-answer > #false-answer:hover::before {
	height: 400%;
}


.question-card-splash-two {
	position: fixed;
	opacity: 0;
	top: 100%;
	left: 0;
	width: 100%;
	height: 100vh;
	background: #24272E;
	z-index: 100;
	color: white;
	text-align: center;
}

.question-card-splash-two > h1 {
position: absolute;
top:40%;
left: 50%;
transform: translate(-50%, -50%);
}

.question-card-splash-two.questionCardSplashTwo {
	position: absolute;
	opacity: 0.98;
	font-size: 140%;
	top: 50%;
	left: 50%;
	width: 50%;
	height: 50%;
	background: #d4af37;
	z-index: 100;
	color: black;
	border-radius: 10px;
	text-align: center;
	transform: translate(-50%, -50%);
}

.question-card-splash-two.questionCardSplashTwo > button {
	background: #808080;
	position: absolute;
	left: 50%;
	top: 75%;
	transform: translate(-50%, -50%);
	display: block;
	color: black;
	font-size: 26px;
	margin: 20px 0;
	border: 3px solid black;
	padding: 14px 30px;
	border-radius: 8px;
	overflow: hidden;
}

.question-card-splash-two.questionCardSplashTwo > button::before {
	background: white;
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: -1;
	transition: all 0.6s ease;
}

.question-card-splash-two.questionCardSplashTwo > button::before {
	width: 100%;
	height: 0;
	transform: translate(-50%, -50%) rotate(45deg);
}

.question-card-splash-two.questionCardSplashTwo > button:hover::before {
	height: 600%;
}











.end-game-screen {
	position: fixed;
	opacity: 0;
	top: 100%;
	left: 0;
	width: 100%;
	height: 100vh;
	background: #24272E;
	z-index: 100;
	color: white;
	text-align: center;
}

.end-game-screen.addSplash {
	position: absolute;
	opacity: 0.98;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: #24272E;
	z-index: 100;
	color: white;
	text-align: center;
}

.end-game-screen.addSplash > h1 {
		position: absolute;
		left: 50%;
		top:27%;
		font-size: 300%;
		opacity: 1;
		transform: translate(-50%, -50%);
}

.end-game-screen.addSplash > h2 {
		position: absolute;
		left: 50%;
		top: 33%;
		font-size: 240%;
		opacity: 1;
		transform: translate(-50%, -50%);
}

.end-game-screen.addSplash > h3 {
		position: absolute;
		left: 50%;
		top:50%;
		font-size: 230%;
		opacity: 1;
		transform: translate(-50%, -50%);
}

.end-game-screen.addSplash > h4 {
		position: absolute;
		left: 50%;
		top:68%;
		font-size: 240%;
		opacity: 1;
		transform: translate(-50%, -50%);
}





.end-game-screen.addSplash > button {
	background: white;
	position: absolute;
	left: 50%;
	top: 75%;
	transform: translate(-50%, -50%);
	display: block;
	color: black;
	font-size: 35px;
	margin: 20px 0;
	border: 5px solid black;
	padding: 14px 30px;
	border-radius: 8px;
	overflow: hidden;
}

.end-game-screen.addSplash > button::before {
	background: #808080;
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: -1;
	transition: all 0.6s ease;
}

.end-game-screen.addSplash > button::before {
	width: 100%;
	height: 0;
	transform: translate(-50%, -50%) rotate(45deg);
}

.end-game-screen.addSplash > button:hover::before {
	height: 600%;
}





.set-winning-score {
	position: absolute;
	font-size: 140%;
	top: 19.5%;
	left: 50%;
	color: #d4af37;
	padding-top: 1%;
	transform: translate(-50%, -50%);
}

.capt-score-board {
		position: absolute;
		top: 27%;
		left: 50%;
		color: white;
		text-align: center;
		padding-top: 20px;
		transform: translate(-50%, -50%);
}

.capt-score-board > #capt-score {
	font-size: 160%;
}

.crew-score-board {
	position: absolute;
	top: 35%;
	left: 50%;
	color: white;
	text-align: center;
	padding-top: 20px;
	transform: translate(-50%, -50%);
}

.crew-score-board > #crew-score {
	font-size: 160%;
}
/*
.crew-score {
	text-align: center;
	font-size: 20px;
}
*/

.counter-card-button-div {
	opacity: 0;
	position: absolute;
	text-align: center;
	font-size: 15px;
}

.counter-card-button-div.makeVisible {
	opacity: 1;
	position: absolute;
	top: 90%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-size: 15px;
}

.counter-card-button-div > button {
	background: #FF0000;
	position: relative;
	left: 50%;
	transform: translate(-50%, -50%);
	display: block;
	color: white;
	font-size: 40px;
	margin: 20px 0;
	border: 2px solid #800000;
	padding: 14px 30px;
	border-radius: 8px;
	overflow: hidden;
}

.counter-card-button-div > button::before {
	background: #F08080;
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: -1;
	transition: all 0.6s ease;
}

.counter-card-button-div > button::before {
	width: 100%;
	height: 0;
	transform: translate(-50%, -50%) rotate(45deg);
}

.counter-card-button-div > button:hover::before {
	height: 500%;
}




.display-turn {
	position: absolute;
	font-size: 160%;
	color: #d4af37;
	top: 77%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.chosen-captain {
	position: absolute;
	top: 43%;
	left: 28%;
	font-size: 160%;
	color: white;
	text-align: right;
}

.chosen-crew-members-list {
	position: absolute;
	top: 43%;
	left: 65%;
	color: white;
	font-size: 150%;
}





.game-parameters {
	opacity: 0;
	top: 100%;
	position: fixed;
	margin-top: 130px;
	text-align: center;
	font-size: 0.01px;
}

.cards {
	position: relative;
	width: 25%;
	height: 60%;
	background: none;
	align-items: center;
	top: 70%;
	left: 50%;
	transform: translate( -50%, 50%);
}


.drinking-card {
	position: absolute;
	top: 32%;
	left: 0;
	width: 100%;
	height: 100%;
	opacity:0;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
	transform: scale(0.1);
}


.drinking-card.newCard {
	width: 100%;
	height: 100%;
	opacity:0;
	transform: scale(1);
	animation: fadeIn 0.5s ease-in forwards;
}

.drinking-card.flip {
	opacity:1;
	transform: rotateY(180deg);
}

.drinking-card.discard {
	transition: all 0.5s ease;
	opacity:1;
	transform: scale(0.0000001);
}


.front-face {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	justify-content: center;
	overflow: hidden;
	background: #d4af37;
	color: #000;
	border-radius: 5px;
	padding-top: 20px;
	text-align: center;

}

.front-face:hover {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	justify-content: center;
	backface-visibility: hidden;
	overflow: hidden;
	color: #000;
	border-radius: 5px;
	padding-top: 20px;
	text-align: center;
	transition: all 0.1s ease;
	transform: scale(1.05);
}

.front-face h1 {
	font-size: 50px;
	padding-top: 7px;
	margin-bottom: -4px;
	transform: scale(105%);
	padding-top: 10px;
}

.front-face h2 {
	font-size: 19px;
	transform: scale(105%);
	margin-top: -17px;
	padding-bottom: 20px;
}


img{
	width: 30%;
	height: 40%;
	transform: scale(105%);
	margin-bottom: 8px;
}


.back-face {
	position: absolute;
  top: 0;
  left: 0;
  width: 105%;
  height: 105%;
  backface-visibility: hidden;
  overflow: hidden;
  background: #fafafa;
  color: #333;
	border-radius: 5px;
  text-align: center;
	font-size: 32px;
	padding-top:40px;
  transform: rotateY(180deg);
}

.back-face > p {
	position: absolute;
	align: center;
	top: 50%;
	font-size: 32px;
	line-height: 120%;
	padding-left: 20px;
	padding-right: 20px;
}
